<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="fbg">
    <h1>Add Job Listing</h1>
    <section id="form">
        <form id="job-form" method="POST" action="{{ url_for('log_data') }}">
            <!-- <label for="company">Company:</label> -->
            <input type="text" id="company" name="company" placeholder="Company" required><br><br>
    
            <!-- <label for="position">Position:</label> -->
            <input type="text" id="position" name="position" placeholder="Position" required><br><br>
    
            <!-- <label for="description">Description:</label><br> -->
            <textarea id="description" placeholder="Description" name="description" rows="4" cols="50" required></textarea><br><br>
    
            <button id="submit" type="submit">Add Job</button>
        </form>
    <div>
        {% with index_url = url_for('index') %}
        <button class="btnPrimary" onclick="window.location.href='{{ index_url }}'">Home</button>
        {% endwith %}
    </div>
    </section>


</body>
</html>