<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Job Application Log</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='style.css') }}"
    >
    </head>
<style>

</style>
</head>
<body id="indexPg">
    <h1>Job Application Log</h1>
    <section class="wrapper">
        <div id="linkToForm"><a href="{{ url_for('form')}}">Enter job information</a></div>
        <ul>
            {% for job in job_data %}
            <li><span class="job-date">{{ job['date'] }} -</span> <a
                    href="{{ url_for('job_details', index=loop.index0) }}"
                >{{ job['company'] }}</a></li>
            {% endfor %}
        </ul>

    </section>
    

</body>
</html>
