<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Job Application Log</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<style>
    /* CSS for fading in */
    /* body {
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    body.show {
        opacity: 1;
    } */
</style>
</head>
<body>
    <section>
        <h1>Job Application Log</h1>
       
    </section>
    <ul id="job-list">
        {% for job in job_data %}
        <li>{{ job.date }} / {{ job.company }} / {{ job.position }} / {{
            job.description }}</li>
        {% endfor %}
    </ul>

    <form id="job-form" method="POST" action="{{ url_for('log_data') }}">
        <label for="company">Company:</label>
        <input
            type="text"
            id="company"
            name="company"
            required
        ><br><br>
    
        <label for="position">Position:</label>
        <input
            type="text"
            id="position"
            name="position"
            required
        ><br><br>
    
        <label for="description">Description:</label><br>
        <textarea
            id="description"
            name="description"
            rows="4"
            cols="50"
            required
        ></textarea><br><br>
    
        <button type="submit">Add Job</button>
    </form>
    
    <!-- <div id="job-details"></div> -->

<!-- <script src="script04.js"></script> -->
<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>
