<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Job Details</title>
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='style.css') }}" >
</head>
<body id="detailsPg">

    <h1>Job Application Details</h1>
    <section class="wrapper">
        <p>Company: {{ job_data['company'] }}</p>
        <p>Position: {{ job_data['position'] }}</p>
        <p>Description: {{ job_data['description'] }}</p>
        <div>
            {% with index_url = url_for('index') %}
            <button class="btnPrimary" onclick="window.location.href='{{ index_url }}'">Home</button>
            {% endwith %}
        </div>
    </section>
</body>
</html>