<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Job Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">

        <style>
            /* CSS for fading in */
            .fade-in {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }
        
            .fade-in.show {
                opacity: 1;
            }
        </style>
</head>
<body>
   
    <div id="job-details-container" class="fade-in"></div>

    <!-- <script src="script.js"></script> -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Retrieve job details from sessionStorage
            const selectedJob = JSON.parse(sessionStorage.getItem('selectedJob'));

            // Display job details
            if (selectedJob) {
                const jobDetailsContainer = document.getElementById('job-details-container');
                jobDetailsContainer.innerHTML = `
                 <h1>Job Details</h1>
                    <p><strong>Date:</strong> ${selectedJob.date}</p>
                    <p><strong>Company:</strong> ${selectedJob.company}</p>
                    <p><strong>Position:</strong> ${selectedJob.position}</p>
                    <p><strong>Description:</strong> ${selectedJob.description}</p>
                    <button onclick="window.location.href='index.html'">Home</button>
                `;
                // Trigger fade-in animation after a short delay
                setTimeout(function () {
                    jobDetailsContainer.classList.add('show');
                }, 50);

            } else {
                // Handle case where no job details are found in sessionStorage
                console.error('No job details found in sessionStorage');
            }
        });
    </script>
</body>
</html>